/*
// Figure if icons need attributions later: ios7-ultralight-2/svg/;
// Add fonts locally later
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../../assets/icons/icomoon/fonts/icomoon.eot?-k1zypo');
	src:url('../../assets/icons/icomoon/fonts/icomoon.eot?#iefix-k1zypo') format('embedded-opentype'),
		url('../assets/icons/icomoon/fonts/icomoon.woff?-k1zypo') format('woff'),
		url('../../assets/icons/icomoon/fonts/icomoon.ttf?-k1zypo') format('truetype'),
		url('../../assets/icons/icomoon/fonts/icomoon.svg?-k1zypo#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


html, body  { 
	height: 100%;
	width: 100%;
}

body {
	background-color: #fff;
	color: #222;
	font-size: 16px;
	line-height: 1.5;
}

body, input, textarea {
	font-family: 'Roboto', sans-serif;
}

/* COLUMNS */

.col-25, .col-25-flt {
	width: 25%;
}

.col-33, .col-33-flt {
	width:33.33%;
}

.col-50, .col-50-flt {
	width: 50%;
}

.col-75, .col-75-flt {
	width:75%;
}

.col-25-flt, .col-33-flt, .col-50-flt, .col-75-flt {
	float: left;
}

/* COLUMNS */

/* GLOBAL STYLES */

.clear { 
	clear: both;
} 

 .float-left {
	float: left;
}

.float-right {
	float: right;
}

.small-font {
	font-size: 90%;
}

.smaller-font {
	font-size: 80%;
}

.smallest-x-font {
	font-size: 60%;
}

.large-font {
	font-size: 110%;
}

.larger-font {
	font-size: 120%;
}

.narrow-font {
	font-weight: 300;
}

.icon-style {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
}

.center {
    text-align: center;
}

.center-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dead-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.heading-primary, .heading-secondary {
	text-align: center;
	margin: 10px 0;
}

.b-icon {
	display: inline-block;
	vertical-align: middle;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
}

a:focus {
	outline: none;
}

strong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

sub, sup {
	font-size: 65%;
	position: relative;
	line-height: 0;
}

sup {
	top: -8px;
}

sub {
	bottom: -8px;
}

p {
	margin: 0 0 12px 0;
}

h6 {
	font-size: 110%;
}

h5 {
	font-size: 120%;
}

h4 {
	font-size: 130%;
}

h3 {
	font-size: 140%;
}

h2 {
	font-size: 150%;
}

h1 {
	font-size: 160%;
}

h1, h2 {
	font-weight: 100;
}


img, video {
	max-width: 100%;
	height: auto;
}

input[type="submit"] {
	cursor: pointer;
}

textarea {
	vertical-align: top;
}

.spacer-sm {
	padding: 5px 0;
	display: block;
	width: 100%;
}

.spacer-med {
	padding: 10px 0;
	display: block;
	width: 100%;
}

.button-inline {
	background: #E5694C;
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
	font-weight: 300;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

/* END GLOBAL STYLES */

/* LIST VIEW */

.list-view {
	background: #444;  /* comma separate later */
	color: #eee; /* comma separate later */
}

.list-each {
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(255,255,255,0.2);
	position: relative;
	padding: 20px;
	padding-right: 80px; /* REMOVE LATER IF NOT REQUIRED */
}

.list-toggle {
	cursor: pointer;
}

.list-meta .b-icon, .list-meta-detail .b-icon {
	padding: 0 5px 0 0;
}

.list-meta .b-icon {
	font-size: 150%;
}

.list-each-play {
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

.list-meta-detail {
}

.list-meta-detail-info {
}

.list-meta-detail-icons {
	width: 25%;
	float: left;
	text-align: center;
	color: #e5e5e5;
	padding: 10px;
}

.list-meta-detail-icons:nth-of-type(even) {
	background: #76138b;
}

.list-meta-detail-icons:nth-of-type(odd) {
	background: #8354B5;
}

/* END LIST VIEW */

/* FORM-STYLING */

.field-wrap {
  padding: 10px 0;
}

.form-default label {
	display: block;
	margin-bottom: 5px;
}

.form-default input[type="text"], .form-default input[type="email"], .form-default input[type="password"], .form-default input[type="submit"], .form-default button, .form-default .submit, .form-default textarea {
	width: 100%;
	display: block;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 10px;
}

.form-default input[type="text"]:focus, .form-default .submit:focus,.form-default input[type="submit"]:focus, .form-default button:focus, .form-default input[type="email"]:focus, .form-default input[type="password"]:focus, .form-default textarea:focus {
	border: 1px solid #3dc09d; /* common value */
	outline: none;	
}

.form-help {
	opacity: 0;
	height: 0;
	transition: all 0.2s ease-in;
	font-size: 85%;
	color: #4396BA;
}

input:invalid {
	background-image: url("../../assets/icons/information29.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 3%;
}

input:valid {
	background-image: url("../../assets/icons/check23.png");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 3%;
}

.form-default input[type="text"]:valid:focus + .form-help, .form-default input[type="email"]:valid:focus + .form-help, .form-default input[type="password"]:valid:focus + .form-help {
	opacity: 1;
	height: auto;
	transition: all 0.2s ease-in;
}

.form-default input[type="submit"], .form-default button, .form-default .submit {
	background: #3dc09d;
	color: #fff; /* common value */
	text-transform: uppercase;
	text-align: center;
}

.form-default input[type="submit"]:hover, .form-default input[type="submit"]:focus, .form-default button:hover, .form-default button:focus, .form-default .submit:hover, .form-default .submit:focus {
	background: #31997d;
	cursor: pointer;
}

.validate {
	color: #fff;
	text-align: center;
	opacity: 0;
	height: 0;
}

.validate-content {
	padding: 10px;
}

.validate .b-icon {
	font-size: 250%;
	padding-right: 5px;
}

.validate-success {
	background: #76138B;
	border-radius: 10px;
}

.b-fade-in {
	opacity: 1;

	height: auto;
	transition: all 0.4s ease-in;
	-webkit-animation: fadeOut 500ms ease 7000ms forwards;
        animation: fadeOut 500ms ease 7000ms forwards;

}

@-webkit-keyframes fadeOut {
    20% {
        opacity: 1;
    }
    
    50% {
        opacity: 0.5;        
    }

    100% {
        opacity: 0;
        height: 0;
    }
}

@keyframes fadeOut {
    20% {
        opacity: 1;
    }
    
    50% {
        opacity: 0.5;        
    }

    100% {
        opacity: 0;
        height: 0;
    }
}


/* FORM-STYLING */

/* MAIN LAYOUT */

.header {
	background: #f9f9f9;
}

.logo {
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	line-height: 1;
	padding: 10px;
}

.logo span {
	display: inline-block;
	vertical-align: middle;

}

.logo .b-icon {
	font-size: 50px;
	line-height: 1;	
}

main {
	margin-bottom: 20px;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	background: #000;
}	

.section-layout {
	padding: 10px;
}

.section-bright {
	background: #3DC09D;
}

/* module-card */

.module-card {
    position: relative;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
}

.module-card .button-inline {
	font-size: 80%;
	font-weight: 400;
}

.card-headline {
	padding-right: 55px;
}

.card-headline-location {
	color: #3DC09D;
	font-size: 80%;
}

.card-bounty {
	position: absolute;
	top: 0;
	right: 0;	
	background: #8354B5;
	color: #fff;
	padding: 7px;
	text-align: center;

}

.card-bounty .b-icon {
	font-size: 160%;
}

.card-timer {
	text-align: center;
	padding: 20px 0;
}

.card-time {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;

}

.card-time-heading {
	color: #E5694C;
	font-size: 250%;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative;
	background: #E8E3E3;
	padding: 5px;
	min-width: 50px;
}

.card-time-heading:after {
}

 


/*  end module-card  */

/* END MAIN LAYOUT */

/* MEDIA QUERIES */

 @media only screen and (min-width: 600px) {
    .masonry-col {
        width: 25%;
    }
}

/* END MEDIA QUERIES */
